<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Herbal Cure</title>
  </head>
  <body>
    <% include ./partial/navbar %>
    <div class="min-h-screen">
      <div class="text-center text-lg"><%= __('nav.dds') %></div>
    </div>
    <% include ./partial/footer %>
  </body>
</html>
