<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Herbal Cure</title>
  </head>
  <body>
    <% include ./partial/navbar %>
    <div class="min-h-screen">
      <div class="text-center text-2xl my-2"><%= __('nav.hdl') %></div>
      <!-- name of each tab group should be unique -->
      <div class="tabs tabs-lift mx-2 my-9 tabs-lg">
        <input
          type="radio"
          name="my_tabs_3"
          class="tab"
          aria-label="<%= __('hdl.hurt') %>"
        />
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <div
            class="mx-2 my-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
          >
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <input
          type="radio"
          name="my_tabs_3"
          class="tab"
          aria-label="<%= __('hdl.disease') %>"
          checked="checked"
        />
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <div
            class="mx-2 my-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
          >
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
            <div class="card bg-base-100 w-full shadow-sm">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Ingredients Name</h2>
                <p>
                  A card component has a figure, a body part, and inside body
                  there are title and actions parts
                </p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">See More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ./partial/footer %>
  </body>
</html>
