<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
    <script src="/javascripts/swiper-bundle.min.js"></script>
    <title>Herbal Cure</title>
  </head>
  <body>
    <% include ./partial/navbar %>
    <div class="min-h-screen">
      <div class="text-center text-lg"><%= __('nav.home') %></div>
      <div class="swiper h-34">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <% include ./partial/footer %>
  </body>
  <script>
    const swiper = new Swiper(".swiper", {
      direction: "horizontal",
      loop: true,
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</html>
