<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Login now!</h1>
          <p class="py-6">
            Login for your account to access the admin dashboard.
          </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
          <div class="card-body">
            <form action="/login" method="post">
              <fieldset class="fieldset">
                <label class="label">Email</label>
                <input
                  type="email"
                  name="email"
                  class="input"
                  placeholder="Email"
                />
                <label class="label">Password</label>
                <input
                  type="password"
                  name="password"
                  class="input"
                  placeholder="Password"
                />
                <button type="submit" class="btn btn-neutral mt-4">
                  Login
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
