<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Herbal Cure Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/quill.snow.css" rel="stylesheet" />
    <script src="/javascripts/quill.js"></script>
  </head>
  <body>
    <div id="root">
      <div class="drawer lg:drawer-open">
        <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
          <div class="navbar sticky top-0 bg-base-100 z-10 shadow-md">
            <div class="flex-1">
              <label
                for="left-sidebar-drawer"
                class="btn btn-primary drawer-button lg:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-5 inline-block w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  ></path>
                </svg>
              </label>
              <h1 class="text-2xl font-semibold ml-2"></h1>
            </div>
          </div>
          <main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6 bg-base-200">
            <div class="text-3xl text-center my-3">Hurt And Disease Create</div>
            <div
              class="card shadow-md mx-auto rounded-lg max-w-5xl bg-base-300"
            >
              <form
                action="/admin/hdl/create"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="grid grid-cols-1 lg:grid-cols-4 gap-3 p-3">
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">Name MM</legend>
                    <input
                      type="text"
                      name="nameMM"
                      class="input"
                      placeholder="Name MM"
                    />
                  </fieldset>
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">Name EN</legend>
                    <input
                      type="text"
                      name="nameEN"
                      class="input"
                      placeholder="Name EN"
                    />
                  </fieldset>
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">Category</legend>
                    <select class="select" name="category">
                      <option disabled selected>Pick a Category</option>
                      <option value="Hurt">Hurt</option>
                      <option value="Disease">Disease</option>
                    </select>
                  </fieldset>
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">Image</legend>
                    <input type="file" name="image" class="file-input" />
                  </fieldset>
                  <fieldset class="fieldset lg:col-span-2">
                    <legend class="fieldset-legend">Cause MM</legend>
                    <div id="causeMMEditor" class="bg-base-100"></div>
                    <input type="hidden" name="causeMM" id="causeMM" />
                  </fieldset>
                  <fieldset class="fieldset lg:col-span-2">
                    <legend class="fieldset-legend">Cause EN</legend>
                    <div id="causeENEditor" class="bg-base-100"></div>
                    <input type="hidden" name="causeEN" id="causeEN" />
                  </fieldset>
                  <fieldset class="fieldset lg:col-span-2">
                    <legend class="fieldset-legend">Treatment MM</legend>
                    <div id="treatmentMMEditor" class="bg-base-100"></div>
                    <input type="hidden" name="treatmentMM" id="treatmentMM" />
                  </fieldset>
                  <fieldset class="fieldset lg:col-span-2">
                    <legend class="fieldset-legend">Treatment EN</legend>
                    <div id="treatmentENEditor" class="bg-base-100"></div>
                    <input type="hidden" name="treatmentEN" id="treatmentEN" />
                  </fieldset>
                  <fieldset class="fieldset lg:col-span-2">
                    <legend class="fieldset-legend">Ingredients</legend>
                    <select
                      class="select w-full h-full"
                      name="relatedIngredients"
                      multiple
                    >
                      <% for(var i = 0; i < ingredients.length;i++){%>
                      <option value="<%= ingredients[i]._id %>">
                        <%= ingredients[i].nameEN %>(<%= ingredients[i].nameMM
                        %>)
                      </option>
                      <%}%>
                    </select>
                  </fieldset>
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">
                      Age Level Warning MM
                    </legend>
                    <textarea
                      class="textarea h-24"
                      name="ageLevelMM"
                      placeholder="Age Level Warning MM"
                    ></textarea>
                  </fieldset>
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">
                      Age Level Warning EN
                    </legend>
                    <textarea
                      class="textarea h-24"
                      name="ageLevelEN"
                      placeholder="Age Level Warning EN"
                    ></textarea>
                  </fieldset>
                  <fieldset class="fieldset lg:col-span-2">
                    <legend class="fieldset-legend">Description MM</legend>
                    <textarea
                      class="textarea h-24 w-full"
                      name="descriptionMM"
                      placeholder="Description MM"
                    ></textarea>
                  </fieldset>
                  <fieldset class="fieldset lg:col-span-2">
                    <legend class="fieldset-legend">Description EN</legend>
                    <textarea
                      class="textarea h-24 w-full"
                      name="descriptionEN"
                      placeholder="Description EN"
                    ></textarea>
                  </fieldset>
                  <div class="flex flex-col col-span-full">
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="h-16"></div>
          </main>
        </div>
        <% include ../../partial/adminDrawer %>
      </div>
    </div>
  </body>
  <script>
    const quill1 = new Quill("#causeMMEditor", {
      theme: "snow",
    });
    const quill2 = new Quill("#causeENEditor", {
      theme: "snow",
    });
    const quill3 = new Quill("#treatmentMMEditor", {
      theme: "snow",
    });
    const quill4 = new Quill("#treatmentENEditor", {
      theme: "snow",
    });
    const form = document.querySelector("form");
    const causeMM = document.getElementById("causeMM");
    const causeEN = document.getElementById("causeEN");
    const treatmentMM = document.getElementById("treatmentMM");
    const treatmentEN = document.getElementById("treatmentEN");
    form.addEventListener("submit", function (e) {
      causeMM.value = quill1.root.innerHTML;
      causeEN.value = quill2.root.innerHTML;
      treatmentMM.value = quill3.root.innerHTML;
      treatmentEN.value = quill4.root.innerHTML;
    });
  </script>
</html>
